*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.case{
    display: flex;
    justify-content: space-between;
    background-color:   hsl(192, 100%, 9%);
}
.container{
    background-image:url(./sample.jpg);
    height: 100vh;
    width: 70vw;
}
.name{
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border-style: none;
}
.pass{
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border-style: none;
}
.nav-l{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}
.top{
    width: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    background:  rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(246,239,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(246,239,0,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(246,239,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#f6ef00",GradientType=1);;
}
.fa-user{
    position: absolute;
    top: 50px;
    left: 10px;
    transform: translate(-0%, -40%);
}
.logo{
    font-size: 20px;
    color:#f5f5f5;
    margin: 30px
}
